<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.balmukanov.sphinxes.repository.AnswerTopicRepository">
    <insert id="save" parameterType="ru.balmukanov.sphinxes.entities.AnswerTopic" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into sphinxex.answer_topics (name, evaluation, questionnaire_id)
        values (#{answerTopic.name}, #{answerTopic.evaluation}, #{answerTopic.questionnaireId});
    </insert>

    <update id="update" parameterType="ru.balmukanov.sphinxes.entities.AnswerTopic">
        update sphinxex.answer_topics
        set name             = #{answerTopic.name},
            evaluation       = #{answerTopic.evaluation},
            questionnaire_id = #{answerTopic.questionnaireId}
        where id = #{answerTopic.id}
    </update>
    <delete id="deleteUnused">
        delete from sphinxex.answer_topics
        where evaluation is null and questionnaire_id = #{questionnaireId};
    </delete>
</mapper>
