<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.balmukanov.sphinxes.repository.QuestionnaireRepository">
    <insert id="save" parameterType="ru.balmukanov.sphinxes.entities.Questionnaire" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into sphinxex.questionnaires (candidate, project, created_dt, status, evaluation)
        values (#{questionnaire.candidate}, #{questionnaire.project}, #{questionnaire.createdDt},
                #{questionnaire.status}, #{questionnaire.evaluation});
    </insert>

    <update id="changeStatus" parameterType="ru.balmukanov.sphinxes.entities.Questionnaire">
        update sphinxex.questionnaires
        set status = #{status}
        where id = #{id}
    </update>

    <select id="findAll" resultMap="questionnaire">
        select q.id         as id,
               q.project    as project,
               q.evaluation as evaluation,
               q.candidate  as candidate,
               q.created_dt as created_dt,
               q.status     as status
        from sphinxex.questionnaires as q
    </select>
    <resultMap id="questionnaire" type="ru.balmukanov.sphinxes.entities.Questionnaire">
        <result property="id" column="id"/>
        <result property="evaluation" column="evaluation"/>
        <result property="createdDt" column="created_dt"/>
        <result property="project" column="project"/>
        <result property="candidate" column="candidate"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findById" resultType="ru.balmukanov.sphinxes.entities.Questionnaire">
        select q.id         as id,
               q.project    as project,
               q.evaluation as evaluation,
               q.candidate  as candidate,
               q.created_dt as created_dt,
               q.status     as status
        from sphinxex.questionnaires as q
        where id = #{id}
    </select>

    <select id="findByIdWithTopicsAndQuestions" resultMap="questionnairesAnswerTopicAnswerQuestionMap">
        select q.id                as questionnaires_id,
               q.evaluation        as questionnaires_evaluation,
               q.created_dt        as questionnaires_created_dt,
               q.project           as questionnaires_project,
               q.candidate         as questionnaires_candidate,
               q.status            as questionnaires_status,
               at.id               as answer_topic_id,
               at.name             as answer_topic_name,
               at.evaluation       as answer_topic_evaluation,
               at.questionnaire_id as answer_topic_questionnaire_id,
               aq.id               as answer_question_id,
               aq.point            as answer_question_point,
               aq.answer           as answer_question_answer,
               aq.evaluation       as answer_question_evaluation,
               aq.level            as answer_question_level,
               aq.answer_topic_id  as answer_question_answer_topic_id
        from sphinxex.questionnaires as q
                 left join sphinxex.answer_topics at on q.id = at.questionnaire_id
                 left join sphinxex.answer_questions aq on at.id = aq.answer_topic_id
        where q.id = #{id}
        order by answer_question_point
    </select>
    <resultMap id="questionnairesAnswerTopicAnswerQuestionMap" type="ru.balmukanov.sphinxes.entities.Questionnaire">
        <result property="id" column="questionnaires_id"/>
        <result property="evaluation" column="questionnaires_evaluation"/>
        <result property="createdDt" column="questionnaires_created_dt"/>
        <result property="project" column="questionnaires_project"/>
        <result property="candidate" column="questionnaires_candidate"/>
        <result property="status" column="questionnaires_status"/>

        <collection property="topics" ofType="ru.balmukanov.sphinxes.entities.AnswerTopic" column="answer_topic_id">
            <result property="id" column="answer_topic_id"/>
            <result property="name" column="answer_topic_name"/>
            <result property="evaluation" column="answer_topic_evaluation"/>
            <result property="questionnaireId" column="answer_topic_questionnaire_id"/>

            <collection property="questions" ofType="ru.balmukanov.sphinxes.entities.AnswerQuestion"
                        column="answer_question_id">
                <result property="id" column="answer_question_id"/>
                <result property="point" column="answer_question_point"/>
                <result property="answer" column="answer_question_answer"/>
                <result property="answerTopicId" column="answer_question_answer_topic_id"/>
                <result property="level" column="answer_question_level"/>
                <result property="evaluation" column="answer_question_evaluation"/>
            </collection>
        </collection>
    </resultMap>
</mapper>
