<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.balmukanov.sphinxes.repository.QuestionnaireRepository">
    <insert id="save" parameterType="ru.balmukanov.sphinxes.entities.Questionnaire" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into sphinxex.questionnaires (candidate, project, created_dt, status, evaluation)
        values (#{questionnaire.candidate}, #{questionnaire.project}, #{questionnaire.createdDt},
                #{questionnaire.status}, #{questionnaire.evaluation});
    </insert>

    <update id="update" parameterType="ru.balmukanov.sphinxes.entities.Questionnaire">
        update sphinxex.questionnaires
        set project    = #{questionnaire.project},
            evaluation = #{questionnaire.evaluation},
            candidate  = #{questionnaire.candidate},
            status     = #{questionnaire.status}
        where id = #{questionnaire.id}
    </update>

    <select id="findAllWithFeedback" resultMap="questionnaireWithFeedback">
        select q.id               as id,
               q.project          as project,
               q.evaluation       as evaluation,
               q.candidate        as candidate,
               q.created_dt       as created_dt,
               q.status           as status,
               f.id               as feedback_id,
               f.need_improve     as feedback_need_improve,
               f.questionnaire_id as feedback_questionnaire_id,
               f.strengths        as feedback_strengths,
               f.weaknesses       as feedback_weaknesses
        from sphinxex.questionnaires as q
                 left join sphinxex.feedbacks f on q.id = f.questionnaire_id
        order by created_dt desc
    </select>
    <resultMap id="questionnaireWithFeedback" type="ru.balmukanov.sphinxes.entities.Questionnaire">
        <result property="id" column="id"/>
        <result property="evaluation" column="evaluation"/>
        <result property="createdDt" column="created_dt"/>
        <result property="project" column="project"/>
        <result property="candidate" column="candidate"/>
        <result property="status" column="status"/>
        <association property="feedback" columnPrefix="feedback_" resultMap="feedbackMap"/>
    </resultMap>

    <select id="findById" resultType="ru.balmukanov.sphinxes.entities.Questionnaire">
        select q.id         as id,
               q.project    as project,
               q.evaluation as evaluation,
               q.candidate  as candidate,
               q.created_dt as created_dt,
               q.status     as status
        from sphinxex.questionnaires as q
        where id = #{id}
    </select>

    <select id="findByIdWithTopicsAndQuestions" resultMap="questionnairesAnswerTopicAnswerQuestionMap">
        select q.id                as questionnaires_id,
               q.evaluation        as questionnaires_evaluation,
               q.created_dt        as questionnaires_created_dt,
               q.project           as questionnaires_project,
               q.candidate         as questionnaires_candidate,
               q.status            as questionnaires_status,
               at.id               as answer_topic_id,
               at.name             as answer_topic_name,
               at.evaluation       as answer_topic_evaluation,
               at.questionnaire_id as answer_topic_questionnaire_id,
               aq.id               as answer_question_id,
               aq.point            as answer_question_point,
               aq.answer           as answer_question_answer,
               aq.evaluation       as answer_question_evaluation,
               aq.subject          as answer_question_subject,
               aq.links            as answer_question_links,
               aq.level            as answer_question_level,
               aq.answer_topic_id  as answer_question_answer_topic_id,
               f.id                as feedback_id,
               f.need_improve      as feedback_need_improve,
               f.weaknesses        as feedback_weaknesses,
               f.strengths         as feedback_strengths,
               f.questionnaire_id  as feedback_questionnaire_id
        from sphinxex.questionnaires as q
            left join sphinxex.answer_topics at on q.id = at.questionnaire_id
            left join sphinxex.answer_questions aq on at.id = aq.answer_topic_id
            left join sphinxex.feedbacks f on q.id = f.questionnaire_id
        where q.id = #{id}
        order by answer_question_point
    </select>
    <resultMap id="questionnairesAnswerTopicAnswerQuestionMap" type="ru.balmukanov.sphinxes.entities.Questionnaire">
        <result property="id" column="questionnaires_id"/>
        <result property="evaluation" column="questionnaires_evaluation"/>
        <result property="createdDt" column="questionnaires_created_dt"/>
        <result property="project" column="questionnaires_project"/>
        <result property="candidate" column="questionnaires_candidate"/>
        <result property="status" column="questionnaires_status"/>
        <association property="feedback" columnPrefix="feedback_" resultMap="feedbackMap"/>

        <collection property="topics" ofType="ru.balmukanov.sphinxes.entities.AnswerTopic" column="answer_topic_id">
            <result property="id" column="answer_topic_id"/>
            <result property="name" column="answer_topic_name"/>
            <result property="evaluation" column="answer_topic_evaluation"/>
            <result property="questionnaireId" column="answer_topic_questionnaire_id"/>

            <collection property="questions" ofType="ru.balmukanov.sphinxes.entities.AnswerQuestion"
                        column="answer_question_id">
                <result property="id" column="answer_question_id"/>
                <result property="point" column="answer_question_point"/>
                <result property="answer" column="answer_question_answer"/>
                <result property="answerTopicId" column="answer_question_answer_topic_id"/>
                <result property="subject" column="answer_question_subject"/>
                <result property="links" column="answer_question_links"/>
                <result property="level" column="answer_question_level"/>
                <result property="evaluation" column="answer_question_evaluation"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="feedbackMap" type="ru.balmukanov.sphinxes.entities.Feedback">
        <result property="id" column="id"/>
        <result property="needImprove" column="need_improve"/>
        <result property="weaknesses" column="weaknesses"/>
        <result property="strengths" column="strengths"/>
        <result property="questionnaireId" column="questionnaire_id"/>
    </resultMap>
</mapper>
